<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <h1>{{aim}}</h1>
    </div>
   <div class="container w-25 p-3 border" style="border-radius: 20px;">
    <h2 class="text-center text-light">Login</h2><br>
     <input id="acid" name="acno" #acno type="text" class="form-control " [placeholder]="data"><br>
     <input id="pid" name="psw" #psw type="password" class="form-control" placeholder="Enter the password"><br>
         <button type="submit" (click)="login(acno,psw)" class="btn btn-outline-success">Login</button><br>
        <a href="" >Register now</a>
     
    </div>

</body>
</html>
